@import "@/styles/settings/_settings";


@mixin breakpoint($point) {
  @if $point == md {
    // 768px
    @media (max-width: 48em) {
      @content;
    }
  }
}
.homeContainer {
background-color: $color-blue-light;
width: 100%;


}


.homeContain{

  display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem;

    @include breakpoint(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
  
    }



.contain {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  
  @include breakpoint(md){
    align-items: center;
  }
  

  h1{
    color: #293145;
    font-size: 3rem;
    /* font-family: Sora; */
    font-style: normal;
    font-weight: 600;
    line-height: normal;

    @include breakpoint(md) {
      font-size: 1.7rem;
      text-align: center;
      max-width: 350px;
      margin-left: 1rem;
    }
}
button{
  border-radius: 3.125rem;
  background: $color-blue-medium;
  box-shadow: 1px 3px 4px 0px rgba(19, 125, 224, 0.50);
  border: none;
  padding: 1rem 2.25rem;
  color: #fff;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: $text-weight-semibold;

  @include breakpoint(md){
    max-width: 130px;
    width: 100%;
    font-size: 0.7rem;
    padding: 0.8rem 1.4rem;
  }

  
  &:hover {
    background-color: #ffff;
    border: 2px solid $color-blue-medium;
    color: $color-blue-medium;
    box-shadow: none;
    transform: scaleX(1.05); /* Scaling the button on the X-axis */
  }
}

  
}
}

.infoContainer{
  background-color: $color-blue-dark;
width: 100%;

.infoContain{

  display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

    @include breakpoint(md){
      flex-direction: column;
    }


.contain {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  

  .p1{
    color: #fff;
    font-style: normal;
    font-weight: $text-weight-normal;
    line-height: normal;
    display: flex;
    width: 100%;
    font-size: 2.18rem;

    @include breakpoint(md){
      font-size: 1.35rem;
      text-align: start;
    }

}
  .p2{

    max-width: 400px;
    width: 100%;
    margin-top: -0.5rem;
    color: $color-gray-lighter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: 1.625rem;
    flex-wrap: wrap;

    @include breakpoint(md){
      margin-top: 0.5rem;
      font-size: 0.8rem;
      line-height: 1.4rem;
    }
 
    
}
button{
  border-radius: 3.125rem;
  background: $color-blue-medium;
  box-shadow: 1px 3px 4px 0px rgba(19, 125, 224, 0.50);
  border: none;
  padding: 1rem 2.25rem;
  color: #fff;
  max-width: 200px;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease; 
  font-weight: $text-weight-semibold;
  margin-top: 1rem;

  
  &:hover {
    background-color: #ffff;
    border: 2px solid $color-blue-medium;
    color: $color-blue-medium;
    box-shadow: none;
    transform: scaleX(1.05); /* Scaling the button on the X-axis */
  }
}

  
}
}
}

.graphContainer{
  background-color: $color-blue-light;
width: 100%;

.graphContain{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;
  padding: 3rem;
  
  h1{
    color: #293145;
text-align: center;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;

@include breakpoint(md){
  font-size: 1.6rem;
    text-align: center;
    padding: 0rem 0.7rem;
    min-width: 380px;
}
  }

  p{
    color: #6E7275;
text-align: center;
max-width: 41.125rem;
width: 100%;
margin-top: -0.6rem;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;

@include breakpoint(md){
  line-height: 1.4rem;
  text-align: center;
  min-width: 347px;
}
  }

  a{
    color: #6E7275;
text-align: center;
font-size: 1rem;
margin-top: 0.6rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
text-decoration-line: underline;

@include breakpoint(md){
  font-size: 0.7rem;
}
  }

 
}
}

.checkContainer{
  background-color: #fff;
  width: 100%;

  .checkContain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem;



    h1{
      color: #293145;
text-align: center;
font-size: 2.5rem;
font-style: normal;
font-weight: 600;
line-height: normal;

@include breakpoint(md){
  font-size: 1.6rem;
    min-width: 380px;
    padding: 0 0.4rem;
}
    }
    .contain{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      padding: 1rem;

      @include breakpoint(md){
        flex-direction: column;
        gap: 2rem;
        justify-content: space-between;
        margin-top: -1rem;
      }
      
      .containText{
        display: flex;
width: 13.125rem;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;

        
      img{
        width: 3.75rem;
  height: 3.75rem;
  flex-shrink: 0;
  
      }
      h1{
        color: #293145;
font-size: 1.125rem;
font-style: normal;
font-weight: 600;
line-height: normal;
      }

      p{
        color: #6E7275;
text-align: center;
font-size: 1rem;
margin-top: -0.1rem;
font-style: normal;
font-weight: 400;
line-height: 1.625rem;
flex-shrink: 0;

      }
      }

    }
   
  }
}

.lastContainer{
  margin-top: 2rem;
  display: flex;
  width: 100%;

 

  .lastContain{
    background-image: url('../../public//images/background.png');
   
    background-repeat: no-repeat;
    object-fit: contain;
   
     max-width: 90rem;
    width: 100%;
    height: 23.9375rem;
    flex-shrink: 0;

    @include breakpoint(md){
      height: 100%;
    }



    .containText{
      margin-top: 1rem;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      @include breakpoint(md){
        
    margin-top: 0rem;

      }

      h1{
        color: #FFF;
font-size: 1.875rem;
font-style: normal;
font-weight: 600;
line-height: normal;

@include breakpoint(md){
  font-size: 1.2rem;
  min-width: 330px;
}
      }
      p{
width: 33rem;
flex-wrap: wrap;
flex-shrink: 0;
color: #DBDBDB;
text-align: center;
font-size: 1.125rem;
margin-top: -0.5rem;
font-style: normal;
font-weight: 400;
line-height: 1.5625rem;

@include breakpoint(md){
  font-size: 0.7rem;
    width: 100%;
    line-height: 1.1rem;
}
      }

      button{
        display: inline-flex;
padding: 0.5rem 2rem;
align-items: flex-start;
gap: 0.625rem;
border-radius: 3.125rem;
background: #0F9AFE;
border: none;
color: #FFF;
font-size: 1rem;

font-style: normal;
font-weight: 500;
line-height: normal;;

@include breakpoint(md){
  font-size: 0.8rem;
}

&:hover {
  background-color: #ffff;
  border: 2px solid $color-blue-medium;
  color: $color-blue-medium;
  box-shadow: none;
  transform: scaleX(1.05); /* Scaling the button on the X-axis */
}
      }
      
    }
  }
  
}





