$color-blue-dark: #293145;
$color-blue-medium: #0F9AFE;
$color-blue-light: #EFF8FF;
$color-gray-medium: #8d99ae;
$color-gray-dark: #455A64;
$color-gray-medium: #6E7275;
$color-gray-light: #A1A2A1;
$color-gray-lighter: #ACBAC5;
$color-black: #000000;
$color-red: red;
$color-primary: #ffff;